<%- include("./partials/header.ejs");%>
    <main>
        <section class="enter_container">
            <div class="index_section">
                <h1 class="white_text" id="happening_now">Happening now</h1>
                <div class="index_items">
                    <div>
                        <div id="div_join">
                            <h3 class="white_text" id="join_now">Join today.</h3>
                            <button class="index_button">Sign up with Google</button>
                            <button class="index_button">Sign up with Apple</button>
                        </div>
                        <div class="inline_div white_text">
                            <div class="divider"></div>
                            <p id="or">or</p>
                            <div class="divider"></div>
                        </div>
                        <div>
                            <button class="btn-blue index_button" id="btn-create">Create account</button>
                            <p class="terms">By signing up, you agree to the Terms of Service, Privacy
                                Policy,
                                including Cookie Use.</p>
                        </div>
                        <div>
                            <h5 class="white_text">Already have an account?</h5>
                            <button class="btn-signin index_button">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="logo_container">
            <img src="/assets/logo.png" alt="" id="index_logo">
        </section>
        <div id="modal-create" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close white_text">&times;</span>
                    <img class="modal-logo" src="/assets/logo.png" alt="">
                </div>
                <div class="modal-subcontent">
                    <h3 class="white_text">Create your account</h3>
                    <form action="/register" method="POST">
                        <input type="text" placeholder="Name" name="name" required>
                        <input type="text" placeholder="Email" name="email" required>
                        <p>Use phone instead</p>
                        <h5 class="white_text">Date of birth</h5>
                        <p class="white_text">This will not be shown publicly. Confirm your own age, even if this
                            account is
                            for a business, a pet, or something else.</p>
                        <input type="date" placeholder="Date of Birth" name="date_of_birth" required>
                        <button class="index_button">Next</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div id="modal-create-account" class="modal"></div> -->
    </main>
    <%- include("./partials/footer.ejs"); %>