<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
    <main>
        <section>
            <h1 id="happening_now">Happening now</h1>
        </section>
        <section class="right-side">
            <img src="/assets/logo.png" alt="" id="index_logo">
        </section>
    </main>
</body>

</html>