html {
    background-color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.white_text {
    color: white;
}

.index_items {
    width: 50%;
}

#happening_now {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 20%;
    margin-bottom: 1%;
    text-wrap: nowrap;
}

.terms {
    font-size: .75rem;
    color: #9f9f9f;
}

#join_now {
    font-size: 2.3rem;
}

#index_logo {
    width: 40%;
    margin: auto;
}

main {
    display: flex;
    flex: auto;
    flex-direction: row-reverse;
    height: 100vh;
}

section {
    flex: content;
    display: flex;
    justify-content: center;
}

.logo_container {
    max-width: 60%;
    vertical-align: middle;
}

.enter_container {
    max-width: 45%;
    vertical-align: middle;
}

.index_section {
    width: 100%;
}

.inline_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider {
    flex-grow: 1;
    height: 1px;
    background-color: #9f9f9f;
    padding-left: 5px;
    padding-right: 5px;
}

#or {
    margin-left: 10px;
    margin-right: 10px;
}

.index_button {
    display: block;
    margin-top: 5px;
    border: none;
}

.index_button:hover {
    background-color: rgba(255, 255, 255, .9);
    transition: .5s;
}

button {
    height: 3em;
    width: 100%;
    border-radius: 2em;
    background-color: white;
    box-shadow: none;
    font-size: 15px;
}


.btn-blue {
    background-color: rgba(29, 155, 240, 1);
    color: white;
    font-weight: bold;
}

.btn-blue:hover {
    background-color: rgba(29, 155, 240, .8);
    transition: .5s;
}

.btn-signin {
    background-color: rgba(29, 155, 240, 0);
    color: white;
    font-weight: bold;
    border: 1px solid #9f9f9f;
}

.btn-signin:hover {
    background-color: rgba(29, 155, 240, 0.2);
    transition: .5s;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* overflow: auto; */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(29, 155, 240, 0.2);
    /* Black w/ opacity */
}


.modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border-radius: 2rem;
    max-height: 90vh;
    max-width: 80vh;
    z-index: 2;
    /* Could be more or less, depending on screen size */
}

.modal-header {
    text-align: center;
}

.close {
    float: left;
    font-size: 3rem;
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.modal-subcontent {
    text-align: left;

}

.modal-logo {
    height: 30px;
    align-self: center;
}

#modal-create {
    display: none;
}

#modal-signin {}